{{ form_start(form, {'attr': {'class': 'article-form'}}) }}
<div class="article-form-wrapper">
    <div class="row gx-4 gy-3">
        <div class="col-md-8">
            {{ form_row(form.title, { attr: { class: 'form-control' } }) }}
            {{ form_row(form.slug, { attr: { class: 'form-control' } }) }}
            {{ form_row(form.content) }}
            {{ form_row(form.metaDescription, { attr: { class: 'form-control' } }) }}
        </div>

        <div class="col-md-4">
            <div class="card p-3 mb-3">
                <h5>Publication</h5>
                {{ form_row(form.isPublished, { attr: { class: 'form-check-input' } }) }}
            </div>

            <div class="card p-3 mb-3">
                <h5>Catégorie</h5>
                {{ form_row(form.category, { attr: { class: 'form-select' } }) }}
            </div>

            <div class="card p-3 mb-3">
                <h5>Tags</h5>
                {{ form_row(form.tags, { attr: { class: 'form-select', size: '5' } }) }}
            </div>

            <div class="card p-3 mb-3">
                <h5>Image mise en avant</h5>
                {{ form_row(form.featuredImage, { attr: { class: 'form-control' } }) }}
            </div>
        </div>
    </div>
</div>

<div class="form-actions">
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('app_article_index') }}" class="btn btn-outline-secondary">Retour à la liste</a>
</div>

{{ form_end(form) }}